.search-form {
	position: relative;
	z-index: 2;

	margin: $search-form-margin;
	padding: $search-form-padding;

	background-color: $section-bg-color;
	box-shadow: 0 0 $search-form-shadow-size $search-form-shadow-color;

	-webkit-transition: margin-top .4s ease;
	transition: margin-top .4s ease;

	&.hide {
		margin-top: -$search-form-height;
	}
}

.search-switcher {
	position: absolute;
	top: 0;
	left: 100%;

	min-width: $search-form-switcher-min-width;
	max-height: 100%;
	padding: $search-form-switcher-padding;

	color: $search-form-switcher-color;
	background-color: $section-bg-color;
	text-align: right;
	cursor: pointer;
	text-decoration: none;
}