.list(ng-controller='ListCtrl')
	.list-group(ng-repeat='group in groups')
		h2.list-group-name {{group.name}} ({{groupItems.length}})
		article.list-item(ng-repeat='item in groupItems = (items | filter : {group: group.id} | filter: search)', item-id='item.id')
			.list-item-toolbar
				a.btn-secondary(ng-href='#/{{editUrl}}') edit
				a.btn-secondary(ng-href='#/{{removeUrl}}') remove
			.list-item-content
				span.list-item-key {{item.key}}
				span.list-item-value {{item.value}}
		article.list-item(ng-if='!groupItems.length') No result.