* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $site-bg-color;
	font-family: $common-font-family;
	font-size: $common-font-size;
	color: $common-text-color;
	margin: 0;
	text-align: left;
}

a {
	text-decoration: none;
	color: $common-link-color;
}

.main {
	width: 70%;
	min-width: 350px;
	max-width: 600px;

	@include center-block;
}

.initing * {
	color: transparent !important;
	text-shadow: none !important;
}
